@model string

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img src="~/images/greenfox.png" alt="Fox" />

<p>This is Mr @Model, He Eats, and tricks</p>

<h1>Known Tricks</h1>

