<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/tablestyle.css}" />
    <title>Show Simba Account</title>
</head>
<body>
    <table th:object = ${accounts}>
        <thead>
        <tr>
            <th>Index</th>
            <th>Name</th>
            <th>Balance</th>
            <th>Animal Type</th>
            <th>KING</th>
            <th>Alignment</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each = "account : ${accounts}">
                <td th:text="${accountStat.index}"></td>
                <td th:text="${account.name}"></td>
                <td th:text="${account.balance}"></td>
                <td th:text="${account.animalType}"></td>
                <td th:if="${account.isKing}" style="background : goldenrod; font-size : 24px;" th:text = "'KING'"></td>
                <td th:unless="${account.isKing}"></td>
                <td th:if="${account.alignment}" style="background : blue; font-size : 24px;" th:text = "'GoodGuy'"></td>
                <td th:unless="${account.alignment}" style="background : red; font-size : 24px;" th:text = "'BadGuy'"></td>
            </tr>
        </tbody>
    </table>

    <form action="/addtoaccount" method="post">
        <select name="name">
            <option th:each = "account : ${accounts}" th:value="${account.name}" th:text="${account.name}"/>
        </select>
        <button type="submit">Add Money</button>
    </form>
</body>
</html>