

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/Login_Layout.cshtml";
}
<h1>Welcome to FoxLand!</h1><br /><br />
<h2>Please Give the name of your fox:</h2><br /><br />

<form action="/login" method="post">
    <input type="text" name="name" value="" required/>
    <button type="submit">SUBMIT</button>
</form>