
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add ToDos</h2>

<form action="/todo/add" method="post">
    <label>Content:</label><input type="text" name="title" value="" />

    <label>IsUrgent:</label>
    <input type="checkbox" name="IsUrgent" value="TRUE" />
    <input type="hidden" name="IsUrgent" value="FALSE" />

    <label>IsDone:</label>
    <input type="checkbox" name="IsDone" value="TRUE" />
    <input type="hidden" name="IsDone" value="FALSE" />

    <button type="submit">Submit</button>
</form>