@model ToDoAppX.ViewModels.ToDoAssignee

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<form action="/@Model.SelectedToDo.Id/edit" method="post">
    <label>Content:</label><input type="text" name="title" value="@Model.SelectedToDo.Title" />

    <label>IsUrgent:</label>
    @if (Model.SelectedToDo.IsUrgent)
    {
        <input type="checkbox" name="IsUrgent" value="TRUE" checked />
        <input type="hidden" name="IsUrgent" value="FALSE" />
    }
    else
    {
        <input type="checkbox" name="IsUrgent" value="TRUE" />
        <input type="hidden" name="IsUrgent" value="FALSE" />
    }


    <label>IsDone:</label>
    @if (Model.SelectedToDo.IsDone)
    {
        <input type="checkbox" name="IsDone" value="TRUE" checked />
        <input type="hidden" name="IsDone" value="FALSE" />
    }
    else
    {
        <input type="checkbox" name="IsDone" value="TRUE" />
        <input type="hidden" name="IsDone" value="FALSE" />
    }
        <select name="Assignee">
            <option value="" selected disabled hidden>Choose here</option>

            @foreach (Assignee current in Model.Assignees)
            {
                <option value="@current.Id">@current.Name</option>
            }

        </select>
    <button type="submit">Submit</button>
</form>

