
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="/" method="post">
    <input type="text" name="name" value="" placeholder="GiveName" required />
    <button type="submit">Submit</button>
</form>
