
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddPost</title>
</head>
<body>
    <h1 style="text-align:center;">Submit New Post</h1>

    <form action="/addpost" method="post" name="post">
        <label>Title:</label><input type="text" name="title" value="" /><br />
        <label>Url:</label><input type="text" name="url" value="" /><br />
        <button type="submit">SUBMIT</button>
    </form>
</body>
</html>
