@model List<Post>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RedditClone</title>
</head>
<body>
    @foreach(Post current in Model)
    {
        <h2>@current.Vote <a href="/@current.Id/add">+</a> <a href="">-</a> <a href="@current.Url">@current.Title</a></h2>

    }

</body>
</html>
