@model DailyProjectApiReboot.Models.Greeting

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>
        Hello, @Model.Content! This is the @Model.Id count log in since startup!
    </p>
</body>
</html>