<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
</head>
<body>
    <form action="/Home/Index" method="post">
        <label>ID: </label><input type="text" name="Id" value="" /><br />
        <label>FirstName: </label><input type="text" name="FirstName" value="" /><br />
        <label>LastName: </label><input type="text" name="LastName" value="" /><br />
        <button type="submit" value="Submit">Submit</button>
    </form>
</body>
</html>