@model ToDo

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<form action="/@Model.Id/edit" method="post">
    <label>Content:</label><input type="text" name="title" value="@Model.Title" />

    <label>IsUrgent:</label>
    @if (Model.IsUrgent)
    {
        <input type="checkbox" name="IsUrgent" value="TRUE" checked />
        <input type="hidden" name="IsUrgent" value="FALSE" />
    }
    else
    {
        <input type="checkbox" name="IsUrgent" value="TRUE" />
        <input type="hidden" name="IsUrgent" value="FALSE" />
    }


    <label>IsDone:</label>
    @if (Model.IsDone)
    {
        <input type="checkbox" name="IsDone" value="TRUE" checked />
        <input type="hidden" name="IsDone" value="FALSE" />
    }
    else
    {
        <input type="checkbox" name="IsDone" value="TRUE" />
        <input type="hidden" name="IsDone" value="FALSE" />
    }

    <button type="submit">Submit</button>
</form>

