@model List<ToDo>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TODOS FOR TODAY</h2>

<table class="table table-bordered table-responsive table-hover">
    <thead style="border: none;">
        <tr>
            <th>Id</th>
            <th>Content</th>
            <th>IsUrgent</th>
            <th>IsDone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ToDo current in Model)
        {
        <tr>
            <td>@current.Id</td>
            <td>@current.Title</td>
            <td>@current.IsUrgent</td>
            <td>@current.IsDone</td>
        </tr>
         }
        </tbody>
    </table>

<form action="/todo/list" method="post">
    <label>Content:</label><input type="text" name="title" value="" />

    <label>IsUrgent:</label>
    <input type="checkbox" name="IsUrgent" value="TRUE" />
    <input type="hidden" name="IsUrgent" value="FALSE" />

    <label>IsDone:</label>
    <input type="checkbox" name="IsDone" value="TRUE" />
    <input type="hidden" name="IsDone" value="FALSE" />

    <button type="submit">Submit</button>
</form>

