
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddPost</title>
</head>
<body>
    <div style="text-align:center;">
        <h1>Submit New Post</h1>

        <form action="/addpost" method="post" name="post">
            <label>Title:</label><input type="text" name="title" value="" /><br /><br />
            <label>Url:</label><input type="text" name="url" value="" /><br /><br />
            <button type="submit">SUBMIT</button>
        </form>
    </div>
</body>
</html>
