@model WarehouseApp.ViewModels.TotalPriceDTO

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Summary</title>
</head>
<body>
    <h1>Green Fox Fashion Webstore</h1>

</body>
</html>
