@model Int32

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model</h1>

<form action="/" method="post">
    <button type="submit">Increment</button>
</form>
